body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5efe6; /* crema */
    color: #4a2e1f; /* marrón */
}

header {
    background-color: #d8c3a5; /* marrón claro */
    text-align: center;
    padding: 10px 5px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: #fffaf3;
    border-radius: 12px;
    width: 260px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin: 15px 0 10px;
}

.card button {
    background-color: #8b5e3c;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.card button:hover {
    background-color: #6f462c;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #d8c3a5;
}
